---
import { urlForImage } from "@sanity/lib/urlForImage";
import { Image } from "astro:assets";
import PortableText from "../atoms/PortableText.astro";
import PortableTextTitle from "../atoms/PortableTextTitle.astro";
import star from "@assets/icons/star.svg";

const { card, variation, layout } = Astro.props;
const { image, title, body, imageMask } = card;
const imageUrl = image ? urlForImage(image?.asset)?.url() : null;
---

<article
    class:list={[
        "flex gap-10 items-stretch relative",
        layout === "image-text" && "flex flex-col md:flex-row-reverse",
        layout === "text-image" && "flex flex-col md:flex-row",
    ]}
>
    {
        imageMask ? (
            <div class="md:w-1/2 h-auto flex justify-center">
                {" "}
                <div class="w-[300px] h-[458px] lg:w-[486px] lg:h-[660px]  relative">
                    <Image
                        class="mask w-[300px] h-[458px] lg:w-[486px] lg:h-[660px] object-cover "
                        src={imageUrl}
                        width={486}
                        height={660}
                        alt={title ? title : ""}
                    />
                    <Image
                        src="/mask-1.png"
                        class="absolute -top-2 -right-4 sm:-right-10 -z-10 w-[300px] h-[408px] lg:w-[486px] lg:h-[660px] "
                        width={486}
                        height={660}
                        alt=""
                    />
                </div>
            </div>
        ) : (
            <div class="relative w-full md:w-1/2 h-auto rounded-sm ">
                <Image
                    src={imageUrl}
                    alt={title ? title : ""}
                    height={200}
                    width={364}
                    class="w-full h-full object-cover rounded-sm"
                />{" "}
                <Image
                    src={star}
                    alt=""
                    width={100}
                    height={100}
                    class="absolute bottom-0 translate-y-2/3 md:-translate-y-1/2 md:top-0 w-25 h-25 right-1/2 translate-x-1/2 z-10"
                />
            </div>
        )
    }

    <div
        class:list={[
            "md:w-1/2 px-8 py-12  flex flex-col justify-center rounded-sm",
            variation === "white" && "bg-offwhite",
            variation === "offwhite" && "bg-white",
            variation === "lavander" && "bg-white",
            variation === "gradient" && "bg-offwhite",
            variation === "dark" && "bg-white text-dark-2",
            variation === "pattern" && "bg-lavander",
        ]}
    >
        <h3 class="text-indigo text-display-lg font-semibold mb-4">
            <PortableTextTitle portableText={title} />
        </h3>
        <div
            class="[&>ul]:list-image-star [&>ul]:list-outside [&>ul>li]:mb-2 [&>ul]:my-2 [&>ul]:ml-4 text-md"
        >
            <PortableText portableText={body} />
        </div>
    </div>
</article>
<style>
    .mask {
        mask-image: url("/mask-1.png");
        mask-size: 300px 458px;
        mask-position: center;
        mask-repeat: no-repeat;
    }
    @media screen and (min-width: 1024px) {
        .mask {
            mask-image: url("/mask-1.png");
            mask-size: 486px 660px;
            mask-position: center;
            mask-repeat: no-repeat;
        }
    }
</style>
