---
import PortableText from "@components/atoms/PortableText.astro";
import { urlForImage } from "@sanity/lib/urlForImage";
import { Image } from "astro:assets";
import star1 from "@assets/icons/star1.svg";
import star2 from "@assets/icons/star2.svg";
import star3 from "@assets/icons/star3.svg";

const { step, variation, index } = Astro.props;
const { title, description, image } = step;

const imageUrl = image ? urlForImage(image)?.url() : null;
---

<div class="w-full max-w-[21.25rem] sm:w-[21.25rem]">
  {
    imageUrl && (
      <div class="w-full  mb-8 relative">
        <Image src={imageUrl} inferSize alt="" class="w-full object-cover" />
        {index === 0 && (
          <Image
            src={star1}
            alt=""
            class="absolute bottom-0 right-1 translate-y-[29px]"
          />
        )}
        {index === 1 && (
          <Image
            src={star2}
            alt=""
            class="absolute bottom-0 right-1 translate-y-[29px]"
          />
        )}
        {index === 2 && (
          <Image
            src={star3}
            alt=""
            class="absolute bottom-0 right-1 translate-y-[29px]"
          />
        )}
      </div>
    )
  }
  <h3
    class:list={[
      "text-indigo text-sm font-bold mb-3",
      variation === "dark" && "text-yellow",
    ]}
  >
    {title}
  </h3>

  <PortableText portableText={description} />
</div>
