---
import PortableTextTitle from "@/components/atoms/PortableTextTitle.astro";
import PortableText from "@components/atoms/PortableText.astro";
import Container from "@components/global/Container.astro";
import { urlForImage } from "@sanity/lib/urlForImage";
import { Image } from "astro:assets";

const { section } = Astro.props;
const { tagline, title, description, image, variation } = section;
---

<section>
    <Container>
        <span>{tagline}</span>
        <h2><PortableTextTitle portableText={title} /></h2>
        <div><PortableText portableText={description} /></div>
        <Image src={urlForImage(image).url()} alt={title} inferSize />
    </Container>
</section>
