---
import Container from "@globals/Container.astro";
import { Image } from "astro:assets";
import patternImage from "@assets/pattern.svg";
import { urlForImage } from "@sanity/lib/urlForImage";
import PortableText from "@components/atoms/PortableText.astro";
import ButtonLink from "@components/ui/ButtonLink.astro";
import star from "@assets/icons/star.svg";

const { section } = Astro.props;
const {
  variation,
  tagline,
  title,
  subtitle,
  list,
  layout,
  pattern,
  image,
  ctaText,
  ctaLink,
} = section;
---

<section
  class:list={[
    "pt-24 pb-28 relative overflow-hidden",
    variation === "white" && "bg-white text-dark-1",
    variation === "offwhite" && "bg-offwhite text-dark-1",
    variation === "lavander" && "bg-lavander text-dark-1",
    variation === "gradient" &&
      "bg-linear-to-b from-white from-28% to-lavander to-100% text-dark-1",
    variation === "dark" && "bg-dark-2 text-white",
  ]}
>
  <Image
    src={patternImage}
    alt=""
    class:list={[
      "absolute top-0 left-0 w-full h-full object-cover object-center z-0",
      pattern && "block",
      !pattern && "hidden",
      variation === "gradient" && "opacity-80 ",
      variation === "dark" && "opacity-50 invert",
    ]}
  />
  <Container classes="relative z-10">
    <div
      class:list={[
        "flex flex-col justify-center items-center gap-8",
        layout === "imageText" && "md:flex-row",
        layout === "textImage" && " md:flex-row-reverse",
      ]}
    >
      <div
        class:list={[
          "md:w-1/2 flex",
          layout === "imageText" && "justify-start",
          layout === "textImage" && "justify-center",
        ]}
      >
        {
          image && (
            <div class="w-[300px] h-[458px] sm:w-[486px] sm:h-[660px]  relative">
              <Image
                class="mask w-[300px] h-[458px] sm:w-[486px] sm:h-[660px] object-cover "
                src={urlForImage(image).url()}
                width={486}
                height={660}
                alt={title}
              />
              <Image
                src="/mask-1.png"
                class="absolute -top-2 -right-4 sm:-right-10 -z-10 w-[300px] h-[408px] sm:w-[486px] sm:h-[660px] "
                width={486}
                height={660}
                alt=""
              />
            </div>
          )
        }
      </div>
      <div class="md:w-1/2">
        {
          tagline && (
            <span
              class:list={[
                "uppercase font-medium text-indigo mb-3",
                variation === "dark" && "text-yellow",
              ]}
            >
              {tagline}
            </span>
          )
        }

        {
          title && (
            <h2
              class:list={[
                "font-bold [&>p>strong]:text-indigo [&>p>strong]:font-bold mb-6",
                variation === "dark" && "text-white [&>p>strong]:text-yellow",
              ]}
            >
              <PortableText portableText={title} />
            </h2>
          )
        }

        {
          subtitle && (
            <div class="mb-8 text-md font-semibold">
              <PortableText portableText={subtitle} />
            </div>
          )
        }

        {
          list && (
            <ul class="mb-8">
              {list.map((item) => (
                <li class="mb-3 flex gap-2 items-start">
                  <Image
                    src={star}
                    width={24}
                    height={24}
                    alt=""
                    class="mt-0.5 flex-1 h-6 w-6"
                  />
                  <PortableText portableText={item.text} />
                </li>
              ))}
            </ul>
          )
        }

        {
          ctaText && (
            <div class="text-sm mb-6">
              <PortableText portableText={ctaText} />
            </div>
          )
        }
        {
          ctaLink && (
            <ButtonLink
              buttonLink={ctaLink}
              variation={
                variation === "dark" ? "primary-light-yellow" : "primary-dark"
              }
            />
          )
        }
      </div>
    </div>
  </Container>
</section>

<style>
  .mask {
    mask-image: url("/mask-1.png");
    mask-size: 300px 458px;
    mask-position: center;
    mask-repeat: no-repeat;
  }
  @media screen and (min-width: 640px) {
    .mask {
      mask-image: url("/mask-1.png");
      mask-size: 486px 660px;
      mask-position: center;
      mask-repeat: no-repeat;
    }
  }
</style>
