---
import Container from "@/components/global/Container.astro";
import PortableTextTitle from "@/components/atoms/PortableTextTitle.astro";
import IndustryTestimonialCard from "@components/molecules/IndustryTestimonialCard.astro";
import { Image } from "astro:assets";
import patternImage from "@assets/pattern.svg";
import PortableText from "@components/atoms/PortableText.astro";
const { section } = Astro.props;
const { title, description, testimonials, variation } = section;
---

<section
    class:list={[
        "py-14 relative",
        variation === "dark" && "bg-dark-2 text-white",
        variation === "lavander" && "bg-lavander text-dark-2",
    ]}
>
    <Image
        src={patternImage}
        alt="Pattern"
        class:list={[
            "absolute inset-0 object-cover object-top w-full h-full ",
            variation === "dark" && "opacity-80 invert",
        ]}
    />
    <Container classes="relative z-10">
        <div class="max-w-[800px] mx-auto text-center">
            <h2
                class:list={[
                    "mb-6 text-center",
                    variation === "dark" && "text-yellow",
                    variation === "lavander" && "text-indigo",
                ]}
            >
                <PortableTextTitle portableText={title} />
            </h2>
            {
                description && (
                    <div class="text-md">
                        <PortableText portableText={description} />
                    </div>
                )
            }
        </div>

        {
            testimonials && (
                <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mt-16">
                    {testimonials.map((testimonial) => {
                        return (
                            <IndustryTestimonialCard
                                industryTestimonial={testimonial}
                                variation={variation}
                            />
                        );
                    })}
                </div>
            )
        }
    </Container>
</section>
