---
import Container from "@components/global/Container.astro";
import PortableText from "@components/atoms/PortableText.astro";
import PortableTextTitle from "@/components/atoms/PortableTextTitle.astro";
import JudgeCard from "@components/molecules/JudgeCard.astro";
import star from "@assets/icons/star.svg";
import starPurple from "@assets/icons/star-purple.svg";
import { Image } from "astro:assets";
import patternImage from "@assets/pattern-big.png";
import patternImageAlt from "@assets/pattern-big-alt.png";

const { section } = Astro.props;
const { tagline, title, description, contentCard, judges, variation } = section;
---

<section
    class:list={[
        "py-14 relative",
        variation === "dark" && "bg-dark-2 text-white",
        variation === "lavander" && "bg-lavander",
    ]}
>
    <Image
        src={patternImage}
        alt="Pattern"
        class:list={[
            "absolute inset-0 object-cover object-top w-full h-full ",
            variation === "dark" && "opacity-80 invert",
        ]}
    />
    <Container classes="relative z-10">
        <div class="max-w-[800px] mx-auto text-center">
            {
                tagline && (
                    <span
                        class:list={[
                            "uppercase font-medium mb-1",
                            variation === "dark" && "text-yellow",
                            variation !== "dark" && "text-indigo",
                        ]}
                    >
                        {tagline}
                    </span>
                )
            }
            <h2
                class:list={[
                    "[&>strong]:font-bold [&>strong]:text-indigo mb-6",
                    variation === "dark" && "[&>strong]:text-yellow",
                ]}
            >
                <PortableTextTitle portableText={title} />
            </h2>
            <div><PortableText portableText={description} /></div>
        </div>

        <div class="flex flex-col md:flex-row gap-6 xl:gap-14 mt-10 xl:mt-20">
            <div class="md:w-2/5">
                <div class="p-6 pt-7 pb-8 rounded-sm bg-white text-dark-2">
                    <h3
                        class:list={[
                            "font-bold text-indigo mb-4 text-display-lg",
                        ]}
                    >
                        <PortableTextTitle portableText={contentCard.title} />
                    </h3>
                    {
                        contentCard.body && (
                            <div class="[&>ul]:list-image-star [&>ul]:list-outside [&>ul]:ml-5 [&>ul>li]:py-2  [&>ul]:mb-6 text-md">
                                <PortableText portableText={contentCard.body} />
                            </div>
                        )
                    }
                    <PortableText portableText={contentCard.cta} />
                </div>
            </div>

            {
                judges && (
                    <div class="grid  lg:grid-cols-2 gap-8 md:w-3/5">
                        {judges.map((judge) => {
                            return <JudgeCard judge={judge} />;
                        })}
                    </div>
                )
            }
        </div>
    </Container>
</section>
