---
import PortableText from "@components/atoms/PortableText.astro";
import MediaCard from "@components/molecules/MediaCard.astro";
import Container from "@globals/Container.astro";
import ButtonLink from "@ui/ButtonLink.astro";
const { section } = Astro.props;

const { title, subtitle, variation, cards, ctaText, ctaLink } = section;
---

<section
  class:list={[
    "py-16 lg:pt-24 lg:pb-28 text-center font-bold",
    variation === "light" && "bg-white text-dark-1",
    variation === "dark" && "bg-dark-2 text-white",
  ]}
>
  <Container>
    {
      title && (
        <h2
          class:list={[
            "mb-4 lg:mb-6 ",
            variation === "light" && "[&>p>strong]:text-indigo",
            variation === "dark" && "[&>p>strong]:text-yellow",
          ]}
        >
          <PortableText portableText={title} />
        </h2>
      )
    }

    {
      subtitle && (
        <div class="mb-10 lg:mb-16">
          <PortableText portableText={subtitle} />
        </div>
      )
    }

    {
      cards && (
        <div class="mb-16 grid lg:grid-cols-3 gap-8">
          {cards.map((card) => (
            <MediaCard variation={variation} card={card} />
          ))}
        </div>
      )
    }

    {
      ctaText && (
        <div class="text-sm mb-6">
          <PortableText portableText={ctaText} />
        </div>
      )
    }
    {
      ctaLink && (
        <ButtonLink
          buttonLink={ctaLink}
          variation={
            variation === "light" ? "primary-dark" : "primary-light-indigo"
          }
        />
      )
    }
  </Container>
</section>
