---
import PortableText from "@/components/atoms/PortableText.astro";
import PortableTextTitle from "@/components/atoms/PortableTextTitle.astro";
import Container from "@/components/global/Container.astro";
import { urlForImage } from "@/sanity/lib/urlForImage";
import { Image } from "astro:assets";
import patternImage from "@assets/pattern-big.png";
import patternImageAlt from "@assets/pattern-big-alt.png";
const { section } = Astro.props;
const { title, description, testimonials, ctaText, variation } = section;
---

<section
    class:list={[
        "py-14 lg:py-28",
        variation === "white" && "bg-white",
        variation === "offwhite" && "bg-offwhite",
        variation === "lavander" && "bg-lavander",
        variation === "gradient" &&
            "bg-gradient-to-b from-white from-[28%] to-lavander to-[100%] ",
        variation === "dark" && "bg-dark-2 text-white",
        variation === "pattern" && "relative bg-offwhite",
    ]}
>
    <Image
        src={patternImageAlt}
        alt=""
        class:list={[
            "absolute top-0 left-0 w-full h-full object-cover object-center z-0",
            variation !== "pattern" && "hidden ",
        ]}
    />
    <Container classes="relative z-10">
        <div class="text-center max-w-[800px] mx-auto">
            <h2
                class:list={[
                    "mb-6 [&>strong]:font-bold",
                    variation !== "dark" && "[&>strong]:text-indigo",
                    variation === "dark" &&
                        " text-white  [&>strong]:text-yellow",
                ]}
            >
                <PortableTextTitle portableText={title} />
            </h2>
            <div class:list={["text-md mb-16"]}>
                <PortableText portableText={description} />
            </div>
        </div>

        {
            testimonials && (
                <div>
                    <h3
                        class:list={[
                            "text-center font-display text-display-lg font-semibold mb-10",
                            variation === "dark" && "text-yellow",
                            variation !== "dark" && "text-indigo",
                        ]}
                    >
                        Notable Success Stories:
                    </h3>
                    <div class="grid sm:grid-cols-2 gap-4 lg:gap-20 mb-24">
                        {testimonials.map((testimonial, index) => {
                            const image = urlForImage(testimonial?.image).url();
                            return (
                                <div class="rounded-sm overflow-hidden ">
                                    <div
                                        class:list={[
                                            "flex gap-5 items-top px-5 py-10",
                                            variation === "white" &&
                                                "bg-offwhite",
                                            variation === "pattern" &&
                                                "bg-lavander",
                                            variation !== "white" &&
                                                variation !== "pattern" &&
                                                "bg-white",
                                            variation === "dark" &&
                                                "text-dark-2",
                                        ]}
                                    >
                                        <Image
                                            src={image}
                                            alt={testimonial?.name}
                                            width={112}
                                            height={112}
                                            class="w-[112px] h-[112px]"
                                        />
                                        <div>
                                            <h4 class="text-display-md font-bold text-indigo mb-1">
                                                {testimonial.name}
                                            </h4>
                                            <div class="mb-2">
                                                <PortableTextTitle
                                                    portableText={
                                                        testimonial.occupation
                                                    }
                                                />
                                            </div>
                                            <div class="[&>p]:mb-2 text-sm [&>p:last-child]:mb-0">
                                                <PortableText
                                                    portableText={
                                                        testimonial.story
                                                    }
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class:list={[
                                            "py-2 flex justify-center",
                                            index % 2 === 0
                                                ? "bg-indigo"
                                                : "bg-purple",
                                        ]}
                                    >
                                        <svg
                                            width="284"
                                            height="40"
                                            viewBox="0 0 284 40"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M20 1.10938L24.961 15.3109L40 15.6403L28.027 24.7468L32.3605 39.152L20 30.5785L7.63948 39.152L11.973 24.7468L0 15.6403L15.039 15.3109L20 1.10938Z"
                                                fill="#F4CA51"
                                            />
                                            <path
                                                d="M40 15.6403L20 22.139L24.961 15.3109L40 15.6403ZM20 30.5785V22.139L7.63948 39.152L20 30.5785ZM20 22.139L32.3605 39.152L28.027 24.7468L20 22.139ZM15.039 15.3109L20 22.139V1.10938L15.039 15.3109ZM11.973 24.7468L20 22.139L0 15.6403L11.973 24.7468Z"
                                                fill="#A57D24"
                                            />
                                            <path
                                                d="M81 1.10938L85.961 15.3109L101 15.6403L89.027 24.7468L93.3605 39.152L81 30.5785L68.6395 39.152L72.973 24.7468L61 15.6403L76.039 15.3109L81 1.10938Z"
                                                fill="#F4CA51"
                                            />
                                            <path
                                                d="M101 15.6403L81 22.139L85.961 15.3109L101 15.6403ZM81 30.5785V22.139L68.6395 39.152L81 30.5785ZM81 22.139L93.3605 39.152L89.027 24.7468L81 22.139ZM76.039 15.3109L81 22.139V1.10938L76.039 15.3109ZM72.973 24.7468L81 22.139L61 15.6403L72.973 24.7468Z"
                                                fill="#A57D24"
                                            />
                                            <path
                                                d="M142 1.10938L146.961 15.3109L162 15.6403L150.027 24.7468L154.361 39.152L142 30.5785L129.639 39.152L133.973 24.7468L122 15.6403L137.039 15.3109L142 1.10938Z"
                                                fill="#F4CA51"
                                            />
                                            <path
                                                d="M162 15.6403L142 22.139L146.961 15.3109L162 15.6403ZM142 30.5785V22.139L129.639 39.152L142 30.5785ZM142 22.139L154.361 39.152L150.027 24.7468L142 22.139ZM137.039 15.3109L142 22.139V1.10938L137.039 15.3109ZM133.973 24.7468L142 22.139L122 15.6403L133.973 24.7468Z"
                                                fill="#A57D24"
                                            />
                                            <path
                                                d="M203 1.10938L207.961 15.3109L223 15.6403L211.027 24.7468L215.361 39.152L203 30.5785L190.639 39.152L194.973 24.7468L183 15.6403L198.039 15.3109L203 1.10938Z"
                                                fill="#F4CA51"
                                            />
                                            <path
                                                d="M223 15.6403L203 22.139L207.961 15.3109L223 15.6403ZM203 30.5785V22.139L190.639 39.152L203 30.5785ZM203 22.139L215.361 39.152L211.027 24.7468L203 22.139ZM198.039 15.3109L203 22.139V1.10938L198.039 15.3109ZM194.973 24.7468L203 22.139L183 15.6403L194.973 24.7468Z"
                                                fill="#A57D24"
                                            />
                                            <path
                                                d="M264 1.10938L268.961 15.3109L284 15.6403L272.027 24.7468L276.361 39.152L264 30.5785L251.639 39.152L255.973 24.7468L244 15.6403L259.039 15.3109L264 1.10938Z"
                                                fill="#F4CA51"
                                            />
                                            <path
                                                d="M284 15.6403L264 22.139L268.961 15.3109L284 15.6403ZM264 30.5785V22.139L251.639 39.152L264 30.5785ZM264 22.139L276.361 39.152L272.027 24.7468L264 22.139ZM259.039 15.3109L264 22.139V1.10938L259.039 15.3109ZM255.973 24.7468L264 22.139L244 15.6403L255.973 24.7468Z"
                                                fill="#A57D24"
                                            />
                                        </svg>
                                    </div>
                                </div>
                            );
                        })}
                    </div>
                </div>
            )
        }
        {
            ctaText && (
                <div class="text-center text-md max-w-[800px] mx-auto">
                    <PortableText portableText={ctaText} />
                </div>
            )
        }
    </Container>
</section>
