---
const { buttonLink, variation } = Astro.props;
import star from "@assets/icons/star.svg";
import Image from "astro/components/Image.astro";

const { linkText, linkType, internalLink, url, blank } = buttonLink;
---

{
  linkType === "external" ? (
    <a
      href={url}
      target={blank ? "_blank" : "_self"}
      class:list={[
        "relative overflow-hidden  group button font-body font-semibold capitalize inline-flex",
        variation === "primary-dark" &&
          "bg-dark-1 text-white hover:text-dark-1",
        variation === "primary-light-indigo" &&
          "bg-white text-dark-1 hover:text-white",
      ]}
    >
      <span
        class:list={[
          "button-decor ",
          variation === "primary-dark" && "bg-yellow",
          variation === "primary-light-indigo" && "bg-indigo",
        ]}
      />
      <div class="button-content">
        <div
          class:list={[
            "px-3 py-2.5",
            variation === "primary-dark" && "bg-yellow",
            variation === "primary-light-indigo" && "bg-indigo",
          ]}
        >
          <div
            class:list={[
              " h-6 w-6 relative group-hover:rotate-90 transition-transform duration-300 rounded-full",
              variation === "primary-dark" && "bg-dark-1",
              variation === "primary-light-indigo" && "bg-white",
            ]}
          >
            <Image
              src={star}
              alt="star-icon"
              class="w-4 h-4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            />
          </div>
        </div>
        <div>
          <span class="button__text">{linkText}</span>
        </div>
      </div>
    </a>
  ) : (
    <a
      href={internalLink.slug.current}
      target="_self"
      class:list={[
        "relative overflow-hidden  group button font-body font-semibold capitalize inline-flex",
        variation === "primary-dark" &&
          "bg-dark-1 text-white hover:text-dark-1",
        variation === "primary-light-indigo" &&
          "bg-white text-dark-1 hover:text-white",
      ]}
    >
      <span
        class:list={[
          "button-decor ",
          variation === "primary-dark" && "bg-yellow",
          variation === "primary-light-indigo" && "bg-indigo",
        ]}
      />
      <div class="button-content">
        <div
          class:list={[
            "px-3 py-2.5",
            variation === "primary-dark" && "bg-yellow",
            variation === "primary-light-indigo" && "bg-indigo",
          ]}
        >
          <div
            class:list={[
              " h-6 w-6 relative group-hover:rotate-90 transition-transform duration-300 rounded-full",
              variation === "primary-dark" && "bg-dark-1",
              variation === "primary-light-indigo" && "bg-white",
            ]}
          >
            <Image
              src={star}
              alt="star-icon"
              class="w-4 h-4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            />
          </div>
        </div>
        <div>
          <span class="button__text">{linkText}</span>
        </div>
      </div>
    </a>
  )
}

<style>
  /* From Uiverse.io by Creatlydev */
  .button {
    text-decoration: none;
    line-height: 1;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
    border: none;
    cursor: pointer;
  }

  .button-decor {
    position: absolute;
    inset: 0;

    transform: translateX(-85%);
    transition: transform 0.3s;
    z-index: 0;
  }

  .button-content {
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
  }

  .button__icon {
    width: 48px;
    height: 40px;
    background-color: var(--clr);
    display: grid;
    place-items: center;
  }

  .button__text {
    display: inline-block;
    transition: color 0.2s;
    padding: 2px 1.5rem 2px;
    padding-left: 0.75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
  }

  .button:hover .button-decor {
    transform: translate(0);
  }
</style>
