---
const { buttonLink, variation } = Astro.props;
import star from "@assets/icons/star.svg";
import Image from "astro/components/Image.astro";
import FormPop from "../atoms/FormPop";
import TestimonialForm from "../molecules/TestimonialForm.astro";
import NominationForm from "../molecules/NominationForm.astro";

const {
  linkText = "Button",
  linkType = "internal",
  pickForm,
  internalLink,
  url,
  blank,
  hide,
  fileUrl,
} = buttonLink;

const homeType = internalLink?._type === "home";

const categoryUrl = (() => {
  switch (internalLink?.category) {
    case "how-to-enter":
      return `/how-to-enter/${internalLink?.slug?.current}`;
    case "competitions":
      return `/event/competitions/${internalLink?.slug?.current}`;
    case "schedule-of-events":
      return `/event/schedule-of-events/${internalLink?.slug?.current}`;
    case "venues":
      return `/event/venues/${internalLink?.slug?.current}`;
    case "testimonials":
      return `/resources/testimonials/${internalLink?.slug?.current}`;
    case "comunity-&-support":
      return `/resources/comunity-and-support/${internalLink?.slug?.current}`;
    case "media":
      return `/resources/media/${internalLink?.slug?.current}`;
    case "prizes-and-awards":
      return `/resources/media/prizes-and-awards/${internalLink?.slug?.current}`;
    case "about":
      return `/about/${internalLink?.slug?.current}`;
    case "legal":
      return `/legal/${internalLink?.slug?.current}`;
    default:
      return `/${internalLink?.slug?.current}`;
  }
})();
---

{
  !hide &&
    (linkType === "external" ? (
      <a
        href={url}
        target={blank ? "_blank" : "_self"}
        class:list={[
          "relative overflow-hidden  group button font-body font-semibold capitalize inline-flex",
          variation === "primary-dark" &&
            "bg-dark-1 text-white hover:text-dark-1",
          variation === "primary-light-indigo" &&
            "bg-white text-dark-1 hover:text-white",
          variation === "primary-light-yellow" && "bg-white text-dark-1 ",
          variation === "secondary-dark" && " text-dark-1 hover:text-indigo",
          variation === "secondary-light" && "text-white hover:text-yellow",
          variation === "nav" && "text-white bg-dark-1 hover:text-yellow",
        ]}
      >
        <span
          class:list={[
            "button-decor ",
            variation === "primary-dark" && "bg-yellow",
            variation === "primary-light-indigo" && "bg-indigo",
            variation === "primary-light-yellow" && "bg-yellow",
            variation === "secondary-dark" && "bg-transparent",
            variation === "secondary-light" && "bg-transparent",
            variation === "nav" && "bg-purple",
          ]}
        />
        <div class="button-content">
          <div
            class:list={[
              " py-2.5",
              variation === "primary-dark" && "bg-yellow px-3",
              variation === "primary-light-indigo" && "bg-indigo px-3",
              variation === "primary-light-yellow" && "bg-yellow px-3",
              variation === "secondary-dark" && "px-0",
              variation === "secondary-light" && "px-0",
              variation === "nav" && "px-3 bg-purple",
            ]}
          >
            <div
              class:list={[
                " h-6 w-6 relative flex items-center justify-center group-hover:rotate-360 transition-transform duration-300 rounded-full",
                variation === "primary-dark" && "bg-dark-1",
                variation === "primary-light-indigo" && "bg-white",
                variation === "primary-light-yellow" && "bg-dark-1",
                variation === "secondary-dark" && "bg-indigo",
                variation === "secondary-light" && "bg-white",
                variation === "nav" && "bg-white",
              ]}
            >
              <Image
                src={star}
                alt="star-icon"
                class="w-4 h-4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              />
            </div>
          </div>
          <div class="flex justify-center items-center">
            <span class="button__text">{linkText ? linkText : "Button"}</span>
          </div>
        </div>
      </a>
    ) : linkType === "internal" ? (
      <a
        href={homeType ? "/" : categoryUrl}
        target="_self"
        class:list={[
          "relative overflow-hidden  group button font-body font-semibold capitalize inline-flex",
          variation === "primary-dark" &&
            "bg-dark-1 text-white hover:text-dark-1",
          variation === "primary-light-indigo" &&
            "bg-white text-dark-1 hover:text-white",
          variation === "primary-light-yellow" && "bg-white text-dark-1 ",
          variation === "secondary-dark" && " text-dark-1 hover:text-indigo",
          variation === "secondary-light" && "text-white hover:text-yellow",
          variation === "nav" && "text-white bg-dark-1 hover:text-yellow",
        ]}
      >
        <span
          class:list={[
            "button-decor ",
            variation === "primary-dark" && "bg-yellow",
            variation === "primary-light-indigo" && "bg-indigo",
            variation === "primary-light-yellow" && "bg-yellow",
            variation === "nav" && "bg-indigo",
          ]}
        />
        <div class="button-content">
          <div
            class:list={[
              " py-2.5",
              variation === "primary-dark" && "bg-yellow px-3",
              variation === "primary-light-indigo" && "bg-indigo px-3",
              variation === "primary-light-yellow" && "bg-yellow px-3",
              variation === "secondary-dark" && "px-0",
              variation === "secondary-light" && "px-0",
              variation === "nav" && "px-3 bg-indigo",
            ]}
          >
            <div
              class:list={[
                " h-6 w-6 relative flex justify-center items-center group-hover:rotate-360 transition-transform duration-300 rounded-full",
                variation === "primary-dark" && "bg-dark-1",
                variation === "primary-light-indigo" && "bg-white",
                variation === "primary-light-yellow" && "bg-dark-1",
                variation === "secondary-dark" && "bg-indigo",
                variation === "secondary-light" && "bg-white",
                variation === "nav" && "bg-dark-1",
              ]}
            >
              <Image
                src={star}
                alt="star-icon"
                class="w-4 h-4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              />
            </div>
          </div>
          <div class="flex justify-center items-center">
            <span class="button__text">{linkText ? linkText : "Button"}</span>
          </div>
        </div>
      </a>
    ) : linkType === "file" ? (
      <a
        href={`${fileUrl}?dl=`}
        class:list={[
          "relative overflow-hidden  group button font-body font-semibold capitalize inline-flex",
          variation === "primary-dark" &&
            "bg-dark-1 text-white hover:text-dark-1",
          variation === "primary-light-indigo" &&
            "bg-white text-dark-1 hover:text-white",
          variation === "primary-light-yellow" && "bg-white text-dark-1 ",
          variation === "secondary-dark" && " text-dark-1 hover:text-indigo",
          variation === "secondary-light" && "text-white hover:text-yellow",
          variation === "nav" && "text-white bg-dark-1 hover:text-yellow",
        ]}
      >
        <span
          class:list={[
            "button-decor ",
            variation === "primary-dark" && "bg-yellow",
            variation === "primary-light-indigo" && "bg-indigo",
            variation === "primary-light-yellow" && "bg-yellow",
            variation === "nav" && "bg-indigo",
          ]}
        />
        <div class="button-content">
          <div
            class:list={[
              " py-2.5",
              variation === "primary-dark" && "bg-yellow px-3",
              variation === "primary-light-indigo" && "bg-indigo px-3",
              variation === "primary-light-yellow" && "bg-yellow px-3",
              variation === "secondary-dark" && "px-0",
              variation === "secondary-light" && "px-0",
              variation === "nav" && "px-3 bg-indigo",
            ]}
          >
            <div
              class:list={[
                " h-6 w-6 relative flex justify-center items-center group-hover:rotate-360 transition-transform duration-300 rounded-full",
                variation === "primary-dark" && "bg-dark-1",
                variation === "primary-light-indigo" && "bg-white",
                variation === "primary-light-yellow" && "bg-dark-1",
                variation === "secondary-dark" && "bg-indigo",
                variation === "secondary-light" && "bg-white",
                variation === "nav" && "bg-dark-1",
              ]}
            >
              <Image
                src={star}
                alt="star-icon"
                class="w-4 h-4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              />
            </div>
          </div>
          <div class="flex justify-center items-center">
            <span class="button__text">{linkText ? linkText : "Button"}</span>
          </div>
        </div>
      </a>
    ) : linkType === "popup" && pickForm === "testimonial" ? (
      <FormPop buttonText={linkText} variation={variation} client:load>
        <TestimonialForm />
      </FormPop>
    ) : linkType === "popup" && pickForm === "nomination" ? (
      <FormPop buttonText={linkText} variation={variation} client:load>
        <NominationForm />
      </FormPop>
    ) : null)
}

<style>
  /* From Uiverse.io by Creatlydev */
  .button {
    text-decoration: none;
    line-height: 1;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;

    border: none;
    cursor: pointer;
  }

  .button-decor {
    position: absolute;
    inset: 0;

    transform: translateX(-85%);
    transition: transform 0.3s;
    z-index: 0;
  }

  .button-content {
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
  }

  .button__icon {
    width: 48px;
    height: 40px;
    background-color: var(--clr);
    display: grid;
    place-items: center;
  }

  .button__text {
    display: inline-block;
    transition: color 0.2s;
    padding: 2px 1.5rem 2px;
    padding-left: 0.75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .button:hover .button-decor {
    transform: translate(0);
  }
</style>
