---
import Container from "@globals/Container.astro";
import NewsletterForm from "./NewsletterForm.astro";
import logo from "@assets/logo.png";
import { Image } from "astro:assets";
const { footerData } = Astro.props;
const {
  footerText,
  footerHowToEnter,
  footerEvents,
  footerResources,
  footerAbout,
  footerContact,
  socialLinks,
  footerLegal,
} = footerData;

console.log(socialLinks);
---

<footer class="bg-dark-1 text-white pb-14 min-h-96">
  <NewsletterForm />
  <Container>
    <div class="pt-8 pb-20 grid gap-y-8 xl:grid-cols-7 gap-4">
      <div>
        <a href="/">
          <Image src={logo} alt="Logo" class="h-28 w-auto" />
        </a>
      </div>
      <div>
        <h2 class="text-sm font-bold mb-4">How to Enter</h2>
        <nav>
          {
            footerHowToEnter.map((link) => (
              <a class="block py-2 text-xs" href={link.slug}>
                {link.title}
              </a>
            ))
          }
        </nav>
      </div>
      <div class="col-span-2">
        <h2 class="text-sm font-bold mb-4">Event</h2>
        <nav class="columns-2">
          {
            footerEvents &&
              footerEvents.map((link) => (
                <a class="block py-2 text-xs" href={link.slug}>
                  {link.title}
                </a>
              ))
          }
        </nav>
      </div>
      <div>
        <h2 class="text-sm font-bold mb-4">Resources</h2>
        <nav>
          {
            footerResources &&
              footerResources.map((link) => (
                <a class="block py-2 text-xs" href={link.slug}>
                  {link.title}
                </a>
              ))
          }
        </nav>
      </div>
      <div>
        <h2 class="text-sm font-bold mb-4">About</h2>
        <nav>
          {
            footerAbout &&
              footerAbout.map((link) => (
                <a class="block py-2 text-xs" href={link.slug}>
                  {link.title}
                </a>
              ))
          }
        </nav>
      </div>
      <div>
        <h2 class="text-sm font-bold mb-4">Contact</h2>
        <nav>
          {
            footerContact &&
              footerContact.map((link) => (
                <a class="block py-2 text-xs" href={link.slug}>
                  {link.title}
                </a>
              ))
          }
        </nav>
        <div class="mt-8">
          {
            socialLinks &&
              socialLinks.map((socialLink) => {
                const icon = (() => {
                  switch (socialLink.type) {
                    case "facebook":
                      return (
                        <svg
                          width="28"
                          height="28"
                          viewBox="0 0 28 28"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M25.6654 14.3551C25.6654 7.87245 20.4421 2.61719 13.9987 2.61719C7.55537 2.61719 2.33203 7.87245 2.33203 14.3551C2.33203 20.2138 6.59834 25.0699 12.1758 25.9505V17.7482H9.21354V14.3551H12.1758V11.7691C12.1758 8.82731 13.9176 7.20233 16.5824 7.20233C17.859 7.20233 19.194 7.43159 19.194 7.43159V10.3202H17.7229C16.2737 10.3202 15.8216 11.2251 15.8216 12.1534V14.3551H19.0572L18.5401 17.7482H15.8216V25.9505C21.3991 25.0699 25.6654 20.214 25.6654 14.3551Z"
                            fill="white"
                          />
                        </svg>
                      );
                    case "twitter":
                      return (
                        <svg
                          width="28"
                          height="28"
                          viewBox="0 0 28 28"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M20.0388 4.94922H23.2589L16.2238 12.8562L24.5 23.6159H18.0199L12.9443 17.0903L7.13677 23.6159H3.91468L11.4394 15.1585L3.5 4.94922H10.1447L14.7325 10.9139L20.0388 4.94922ZM18.9085 21.7205H20.6929L9.17514 6.74505H7.2604L18.9085 21.7205Z"
                            fill="#EDEAF9"
                          />
                        </svg>
                      );
                    case "instagram":
                      return (
                        <svg
                          width="28"
                          height="28"
                          viewBox="0 0 28 28"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M18.6667 3.78125H9.33333C6.11168 3.78125 3.5 6.39293 3.5 9.61458V18.9479C3.5 22.1695 6.11168 24.7812 9.33333 24.7812H18.6667C21.8883 24.7812 24.5 22.1695 24.5 18.9479V9.61458C24.5 6.39293 21.8883 3.78125 18.6667 3.78125ZM22.4583 18.9479C22.4519 21.0393 20.758 22.7332 18.6667 22.7396H9.33333C7.24191 22.7332 5.54807 21.0393 5.54167 18.9479V9.61458C5.54807 7.52316 7.24191 5.82932 9.33333 5.82292H18.6667C20.758 5.82932 22.4519 7.52316 22.4583 9.61458V18.9479ZM19.5417 9.90625C20.186 9.90625 20.7083 9.38391 20.7083 8.73958C20.7083 8.09526 20.186 7.57292 19.5417 7.57292C18.8973 7.57292 18.375 8.09526 18.375 8.73958C18.375 9.38391 18.8973 9.90625 19.5417 9.90625ZM14 9.03125C11.1005 9.03125 8.75 11.3818 8.75 14.2812C8.75 17.1808 11.1005 19.5312 14 19.5312C16.8995 19.5312 19.25 17.1808 19.25 14.2812C19.2531 12.8879 18.701 11.5507 17.7157 10.5655C16.7305 9.58027 15.3933 9.02815 14 9.03125ZM10.7917 14.2812C10.7917 16.0532 12.2281 17.4896 14 17.4896C15.7719 17.4896 17.2083 16.0532 17.2083 14.2812C17.2083 12.5093 15.7719 11.0729 14 11.0729C12.2281 11.0729 10.7917 12.5093 10.7917 14.2812Z"
                            fill="white"
                          />
                        </svg>
                      );
                    case "linkedin":
                      return (
                        <svg
                          width="28"
                          height="28"
                          viewBox="0 0 28 28"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M5.25 3.78125C4.2835 3.78125 3.5 4.56475 3.5 5.53125V23.0312C3.5 23.9977 4.2835 24.7812 5.25 24.7812H22.75C23.7165 24.7812 24.5 23.9977 24.5 23.0312V5.53125C24.5 4.56475 23.7165 3.78125 22.75 3.78125H5.25ZM9.94089 8.45109C9.94745 9.56671 9.11238 10.2541 8.12143 10.2492C7.18791 10.2443 6.37417 9.50109 6.37909 8.45273C6.38401 7.46671 7.16331 6.67429 8.17558 6.69726C9.20261 6.72024 9.94745 7.47328 9.94089 8.45109ZM14.3263 11.67H11.3863H11.3847V21.6565H14.492V21.4235C14.492 20.9802 14.4916 20.5369 14.4913 20.0935C14.4903 18.9107 14.4893 17.7266 14.4954 16.5442C14.497 16.2571 14.5101 15.9586 14.5839 15.6845C14.8611 14.6608 15.7816 13.9996 16.8086 14.1621C17.4682 14.2654 17.9045 14.6477 18.0882 15.2695C18.2015 15.6583 18.2524 16.0766 18.2573 16.4819C18.2706 17.7041 18.2687 18.9263 18.2668 20.1486C18.2661 20.5801 18.2654 21.0117 18.2654 21.4432V21.6548H21.3827V21.4153C21.3827 20.888 21.3824 20.3608 21.3821 19.8335C21.3815 18.5158 21.3808 17.198 21.3843 15.8798C21.3859 15.2842 21.322 14.6969 21.1759 14.1211C20.9578 13.2646 20.5066 12.5559 19.7732 12.0441C19.2531 11.6798 18.6822 11.4452 18.044 11.419C17.9713 11.4159 17.8981 11.412 17.8244 11.408C17.4981 11.3904 17.1664 11.3724 16.8545 11.4354C15.962 11.6142 15.1779 12.0227 14.5855 12.7429C14.5167 12.8255 14.4494 12.9094 14.3489 13.0345L14.3263 13.0629V11.67ZM6.62858 21.6597H9.72116V11.6765H6.62858V21.6597Z"
                            fill="white"
                          />
                        </svg>
                      );
                    case "youtube":
                      return (
                        <svg
                          width="28"
                          height="28"
                          viewBox="0 0 28 28"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M25.1912 8.40221C25.0584 7.90918 24.7987 7.45955 24.438 7.09807C24.0773 6.73659 23.6283 6.47588 23.1356 6.34187C21.3086 5.84021 13.9994 5.83204 13.9994 5.83204C13.9994 5.83204 6.69141 5.82387 4.86324 6.30337C4.37082 6.44354 3.9227 6.70795 3.5619 7.0712C3.2011 7.43445 2.93974 7.88435 2.80291 8.37771C2.32107 10.2047 2.31641 13.994 2.31641 13.994C2.31641 13.994 2.31174 17.802 2.79007 19.6104C3.05841 20.6102 3.84591 21.4 4.84691 21.6695C6.69257 22.1712 13.9819 22.1794 13.9819 22.1794C13.9819 22.1794 21.2911 22.1875 23.1181 21.7092C23.611 21.5754 24.0604 21.3153 24.422 20.9546C24.7836 20.5938 25.0447 20.145 25.1796 19.6524C25.6626 17.8265 25.6661 14.0384 25.6661 14.0384C25.6661 14.0384 25.6894 10.2292 25.1912 8.40221ZM11.6614 17.5045L11.6672 10.5045L17.7421 14.0104L11.6614 17.5045Z"
                            fill="#EDEAF9"
                          />
                        </svg>
                      );
                    default:
                      return "Social";
                  }
                })();
                return (
                  <a
                    href={socialLink.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="py-1 text-white flex items-center gap-2"
                  >
                    {icon}
                    {socialLink.type.charAt(0).toUpperCase() +
                      socialLink.type.slice(1)}
                  </a>
                );
              })
          }
        </div>
      </div>
    </div>
    <div class="">
      <div class="w-full h-px bg-yellow mb-8"></div>
      © {new Date().getFullYear()}
      {footerText}
    </div>
  </Container>
</footer>
