---
import ButtonLink from "../ui/ButtonLink.astro";
import Container from "./Container.astro";
import { Image } from "astro:assets";
import logo from "@assets/logo.png";
import Navigation from "./Navigation.jsx";
import { settingsQuery } from "@/sanity/lib/queries";
import { loadQuery } from "@/sanity/lib/load-query";
import { type SanityDocument } from "@sanity/client";
import AccordionMobile from "@/components/atoms/AccordionMobile.jsx";

const { data: settings } = await loadQuery<SanityDocument>({
  query: settingsQuery,
});

const buttonLinkContact = {
  linkText: "Contact",
  linkType: "external",
  internalLink: "/contact-us",
  url: "/contact-us",
  blank: false,
  hide: false,
};

const {
  mainHowToEnter,
  mainCompetitions,
  mainScheduleOfEvents,
  mainVenues,
  mainTestimonials,
  mainComunitySupport,
  mainMedia,
  mainPrizes,
  mainAbout,
} = settings;
---

<header
  id="header"
  class="sticky py-2  shadow-xs top-0 z-50 bg-white/50 transition-all duration-100"
>
  <Container classes="flex justify-between items-center">
    <a href="/">
      <Image src={logo} priority alt="Logo" class="h-20 w-auto" /></a
    >
    <div id="google_translate_element"></div>

    <!-- <a href="/example">Example</a>
      <a href="/example2">Example 2</a>
      <a href="/qa">QA</a>
      <a href="/qa-2">QA 2</a>
      <a href="/qa-3">QA 3</a> -->
    <div class="flex items-center justify-end">
      <div class="hidden lg:block">
        <Navigation
          howToEnter={mainHowToEnter}
          competitions={mainCompetitions}
          scheduleOfEvents={mainScheduleOfEvents}
          venues={mainVenues}
          testimonials={mainTestimonials}
          comunitySupport={mainComunitySupport}
          media={mainMedia}
          prizes={mainPrizes}
          about={mainAbout}
          client:load
        />
      </div>

      <div class="hidden md:block">
        <ButtonLink buttonLink={buttonLinkContact} variation="nav" />
      </div>
    </div>
    <div class="lg:hidden flex items-center justify-center">
      <button id="open-menu"
        ><svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="32" height="32" rx="2" fill="#743089"></rect>
          <rect x="6" y="8" width="20" height="2" rx="1" fill="white"></rect>
          <rect x="14" y="15" width="12" height="2" rx="1" fill="white"></rect>
          <rect x="6" y="22" width="20" height="2" rx="1" fill="white"></rect>
        </svg>
      </button>

      <div
        class="sidebar lg:hidden text-dark-1 bg-lavander z-1000 w-screen h-screen fixed right-[-100%] top-0 flex justify-center flex-col items-center transition-all duration-300"
      >
        <div class="overflow-y-scroll w-full">
          <nav class="flex flex-col max-w-2xs mx-auto mb-4 text-dark-1">
            <a class="text-lg py-2" href="/">Home</a>
            <AccordionMobile text="How To Enter" client:load>
              <nav class="flex flex-col rounded-sm bg-white px-3 pt-2 pb-4">
                {
                  mainHowToEnter &&
                    mainHowToEnter.map((link) => {
                      return (
                        <a
                          href={`/how-to-enter/${link.slug}`}
                          class="hover:underline group flex justify-start gap-2 border-b border-gray-1 w-full  py-2"
                        >
                          <svg
                            width="24"
                            height="22"
                            viewBox="0 0 24 22"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="group-hover:rotate-360 transition-all duration-200"
                          >
                            <path
                              d="M11.566 0L14.4349 8.21275L23.132 8.40321L16.208 13.6695L18.7141 22L11.566 17.042L4.4179 22L6.92397 13.6695L0 8.40321L8.69702 8.21275L11.566 0Z"
                              fill="#F4CA51"
                            />
                            <path
                              d="M23.132 8.40321L11.566 12.1614L14.4349 8.21275L23.132 8.40321ZM11.566 17.042V12.1614L4.4179 22L11.566 17.042ZM11.566 12.1614L18.7141 22L16.208 13.6695L11.566 12.1614ZM8.69702 8.21275L11.566 12.1614V0L8.69702 8.21275ZM6.92397 13.6695L11.566 12.1614L0 8.40321L6.92397 13.6695Z"
                              fill="#A57D24"
                            />
                          </svg>
                          {link.title}
                        </a>
                      );
                    })
                }
              </nav>
            </AccordionMobile>
            <AccordionMobile text="Event" client:load>
              <AccordionMobile
                text="Competitions"
                classes="bg-white px-3 mb-2"
                client:load
              >
                <nav class="flex flex-col pb-3">
                  {
                    mainCompetitions &&
                      mainCompetitions.map((link) => {
                        return (
                          <a
                            href={`/event/competitions/${link.slug}`}
                            class="hover:underline group flex justify-start gap-2 w-full border-b border-gray-1 py-2"
                          >
                            <svg
                              width="24"
                              height="22"
                              viewBox="0 0 24 22"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                              class="group-hover:rotate-360 transition-all duration-200"
                            >
                              <path
                                d="M11.566 0L14.4349 8.21275L23.132 8.40321L16.208 13.6695L18.7141 22L11.566 17.042L4.4179 22L6.92397 13.6695L0 8.40321L8.69702 8.21275L11.566 0Z"
                                fill="#F4CA51"
                              />
                              <path
                                d="M23.132 8.40321L11.566 12.1614L14.4349 8.21275L23.132 8.40321ZM11.566 17.042V12.1614L4.4179 22L11.566 17.042ZM11.566 12.1614L18.7141 22L16.208 13.6695L11.566 12.1614ZM8.69702 8.21275L11.566 12.1614V0L8.69702 8.21275ZM6.92397 13.6695L11.566 12.1614L0 8.40321L6.92397 13.6695Z"
                                fill="#A57D24"
                              />
                            </svg>
                            {link.title}
                          </a>
                        );
                      })
                  }
                </nav>
              </AccordionMobile>
              <AccordionMobile
                text="Schedule Of Events"
                classes="bg-offwhite px-3 mb-2"
                client:load
              >
                <nav class="flex flex-col pb-3">
                  {
                    mainScheduleOfEvents &&
                      mainScheduleOfEvents.map((link) => {
                        return (
                          <a
                            href={`/event/schedule-of-events/${link.slug}`}
                            class="hover:underline group flex justify-start gap-2 w-full  border-b border-gray-1 py-2"
                          >
                            <svg
                              width="24"
                              height="22"
                              viewBox="0 0 24 22"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                              class="group-hover:rotate-360 transition-all duration-200"
                            >
                              <path
                                d="M11.566 0L14.4349 8.21275L23.132 8.40321L16.208 13.6695L18.7141 22L11.566 17.042L4.4179 22L6.92397 13.6695L0 8.40321L8.69702 8.21275L11.566 0Z"
                                fill="#F4CA51"
                              />
                              <path
                                d="M23.132 8.40321L11.566 12.1614L14.4349 8.21275L23.132 8.40321ZM11.566 17.042V12.1614L4.4179 22L11.566 17.042ZM11.566 12.1614L18.7141 22L16.208 13.6695L11.566 12.1614ZM8.69702 8.21275L11.566 12.1614V0L8.69702 8.21275ZM6.92397 13.6695L11.566 12.1614L0 8.40321L6.92397 13.6695Z"
                                fill="#A57D24"
                              />
                            </svg>
                            {link.title}
                          </a>
                        );
                      })
                  }
                </nav>
              </AccordionMobile>
              <AccordionMobile
                text="Venues"
                classes="bg-white px-3 "
                client:load
              >
                <nav class="flex flex-col pb-3">
                  {
                    mainVenues &&
                      mainVenues.map((link) => {
                        return (
                          <a
                            href={`/event/venues/${link.slug}`}
                            class="hover:underline group flex justify-start gap-2 w-full  border-b border-gray-1 py-2"
                          >
                            <svg
                              width="24"
                              height="22"
                              viewBox="0 0 24 22"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                              class="group-hover:rotate-360 transition-all duration-200"
                            >
                              <path
                                d="M11.566 0L14.4349 8.21275L23.132 8.40321L16.208 13.6695L18.7141 22L11.566 17.042L4.4179 22L6.92397 13.6695L0 8.40321L8.69702 8.21275L11.566 0Z"
                                fill="#F4CA51"
                              />
                              <path
                                d="M23.132 8.40321L11.566 12.1614L14.4349 8.21275L23.132 8.40321ZM11.566 17.042V12.1614L4.4179 22L11.566 17.042ZM11.566 12.1614L18.7141 22L16.208 13.6695L11.566 12.1614ZM8.69702 8.21275L11.566 12.1614V0L8.69702 8.21275ZM6.92397 13.6695L11.566 12.1614L0 8.40321L6.92397 13.6695Z"
                                fill="#A57D24"
                              />
                            </svg>
                            {link.title}
                          </a>
                        );
                      })
                  }
                </nav>
              </AccordionMobile>
            </AccordionMobile>

            <AccordionMobile text="Resources" client:load>
              <AccordionMobile
                text="Testimonials"
                classes="bg-white px-3 mb-2"
                client:load
              >
                <nav class="flex flex-col pb-3">
                  {
                    mainTestimonials &&
                      mainTestimonials.map((link) => {
                        return (
                          <a
                            href={`/resources/testimonials/${link.slug}`}
                            class="hover:underline group flex justify-start gap-2 w-full border-b border-gray-1 py-2"
                          >
                            <svg
                              width="24"
                              height="22"
                              viewBox="0 0 24 22"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                              class="group-hover:rotate-360 transition-all duration-200"
                            >
                              <path
                                d="M11.566 0L14.4349 8.21275L23.132 8.40321L16.208 13.6695L18.7141 22L11.566 17.042L4.4179 22L6.92397 13.6695L0 8.40321L8.69702 8.21275L11.566 0Z"
                                fill="#F4CA51"
                              />
                              <path
                                d="M23.132 8.40321L11.566 12.1614L14.4349 8.21275L23.132 8.40321ZM11.566 17.042V12.1614L4.4179 22L11.566 17.042ZM11.566 12.1614L18.7141 22L16.208 13.6695L11.566 12.1614ZM8.69702 8.21275L11.566 12.1614V0L8.69702 8.21275ZM6.92397 13.6695L11.566 12.1614L0 8.40321L6.92397 13.6695Z"
                                fill="#A57D24"
                              />
                            </svg>
                            {link.title}
                          </a>
                        );
                      })
                  }
                </nav>
              </AccordionMobile>
              <AccordionMobile
                text="Comunity & Support"
                classes="bg-offwhite px-3 mb-2"
                client:load
              >
                <nav class="flex flex-col pb-3">
                  {
                    mainComunitySupport &&
                      mainComunitySupport.map((link) => {
                        return (
                          <a
                            href={`/resources/comunity-and-support/${link.slug}`}
                            class="hover:underline group flex justify-start gap-2 w-full border-b border-gray-1 py-2"
                          >
                            <svg
                              width="24"
                              height="22"
                              viewBox="0 0 24 22"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                              class="group-hover:rotate-360 transition-all duration-200"
                            >
                              <path
                                d="M11.566 0L14.4349 8.21275L23.132 8.40321L16.208 13.6695L18.7141 22L11.566 17.042L4.4179 22L6.92397 13.6695L0 8.40321L8.69702 8.21275L11.566 0Z"
                                fill="#F4CA51"
                              />
                              <path
                                d="M23.132 8.40321L11.566 12.1614L14.4349 8.21275L23.132 8.40321ZM11.566 17.042V12.1614L4.4179 22L11.566 17.042ZM11.566 12.1614L18.7141 22L16.208 13.6695L11.566 12.1614ZM8.69702 8.21275L11.566 12.1614V0L8.69702 8.21275ZM6.92397 13.6695L11.566 12.1614L0 8.40321L6.92397 13.6695Z"
                                fill="#A57D24"
                              />
                            </svg>
                            {link.title}
                          </a>
                        );
                      })
                  }
                </nav>
              </AccordionMobile>
              <AccordionMobile
                text="Media"
                classes="bg-white px-3 "
                client:load
              >
                <nav class="flex flex-col pb-3">
                  {
                    mainMedia &&
                      mainMedia.map((link) => {
                        return (
                          <a
                            href={`/resources/media/${link.slug}`}
                            class="hover:underline group flex justify-start gap-2 w-full border-b border-gray-1 py-2"
                          >
                            <svg
                              width="24"
                              height="22"
                              viewBox="0 0 24 22"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                              class="group-hover:rotate-360 transition-all duration-200"
                            >
                              <path
                                d="M11.566 0L14.4349 8.21275L23.132 8.40321L16.208 13.6695L18.7141 22L11.566 17.042L4.4179 22L6.92397 13.6695L0 8.40321L8.69702 8.21275L11.566 0Z"
                                fill="#F4CA51"
                              />
                              <path
                                d="M23.132 8.40321L11.566 12.1614L14.4349 8.21275L23.132 8.40321ZM11.566 17.042V12.1614L4.4179 22L11.566 17.042ZM11.566 12.1614L18.7141 22L16.208 13.6695L11.566 12.1614ZM8.69702 8.21275L11.566 12.1614V0L8.69702 8.21275ZM6.92397 13.6695L11.566 12.1614L0 8.40321L6.92397 13.6695Z"
                                fill="#A57D24"
                              />
                            </svg>
                            {link.title}
                          </a>
                        );
                      })
                  }
                </nav>
              </AccordionMobile>
            </AccordionMobile>
            <AccordionMobile text="About" client:load>
              <nav class="flex flex-col rounded-sm bg-white px-3 pt-2 pb-4">
                {
                  mainAbout &&
                    mainAbout.map((link) => {
                      return (
                        <a
                          href={`/about/${link.slug}`}
                          class="hover:underline group flex justify-start gap-2 w-full border-b border-gray-1 py-2"
                        >
                          <svg
                            width="24"
                            height="22"
                            viewBox="0 0 24 22"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="group-hover:rotate-360 transition-all duration-200"
                          >
                            <path
                              d="M11.566 0L14.4349 8.21275L23.132 8.40321L16.208 13.6695L18.7141 22L11.566 17.042L4.4179 22L6.92397 13.6695L0 8.40321L8.69702 8.21275L11.566 0Z"
                              fill="#F4CA51"
                            />
                            <path
                              d="M23.132 8.40321L11.566 12.1614L14.4349 8.21275L23.132 8.40321ZM11.566 17.042V12.1614L4.4179 22L11.566 17.042ZM11.566 12.1614L18.7141 22L16.208 13.6695L11.566 12.1614ZM8.69702 8.21275L11.566 12.1614V0L8.69702 8.21275ZM6.92397 13.6695L11.566 12.1614L0 8.40321L6.92397 13.6695Z"
                              fill="#A57D24"
                            />
                          </svg>
                          {link.title}
                        </a>
                      );
                    })
                }
              </nav>
            </AccordionMobile>

            <a class="text-lg py-2" href="/contact-us">Contact</a>
          </nav>

          <button class="absolute top-8 right-4" id="close-menu">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="32" height="32" rx="2" fill="#743089"></rect>
              <rect
                x="9"
                y="8"
                width="21"
                height="2"
                rx="1"
                transform="rotate(45 9 8)"
                fill="white"></rect>
              <rect
                width="21"
                height="2"
                rx="1"
                transform="matrix(-0.707107 0.707107 0.707107 0.707107 23 8)"
                fill="white"></rect>
            </svg>
          </button>
        </div>
      </div>
      <!-- Mobile Menu Dropdown End -->
    </div>
  </Container>
</header>

<style>
  .sidebar.visible {
    right: 0;
  }
</style>

<script>
  const burger = document.getElementById("open-menu");
  const closeMenu = document.getElementById("close-menu");
  const sidebar = document.querySelector(".sidebar");
  burger.addEventListener("click", function () {
    sidebar.classList.toggle("visible");
  });
  closeMenu.addEventListener("click", function () {
    sidebar.classList.toggle("visible");
  });

  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("header");
    window.addEventListener("scroll", () => {
      if (window.scrollY > 0) {
        // Adjust the scroll position as needed
        header.classList.add("scrolled");
      } else {
        header.classList.remove("scrolled");
      }
    });
  });
</script>
